body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li#login, nav ul li#logout, nav ul li#signup {
  float: right;
}

nav ul li.active {
  background-color: #d4f0fc;
}

nav ul li a, nav ul li a:visited, nav ul li a:hover {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li.active a {
  color: black;
}

nav ul li:hover:not(.active) {
  background-color: black;
}

h1, h2 {
  text-align: center;
}

table:not(.legend) {
  margin: auto;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.legend {
  height: 500px;
}

div.mapContainer {
  float: left;
}

form, form label, form select {
  margin: auto;

}

form {
  background-color: #f2f2f2;
}

div.addDataBtn, div.editUserBtn, div.loginBtn, div.signupBtn {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.form-group {
  padding-top: 25px;
}

.userForm, .userInfo {
  width: 80%;
  margin: auto;
}

.narrowUserForm {
  width: 60%;
  margin: auto;
}

div.divider {
  width: 10px;
  height:auto;
  display:inline-block;
}





/* div.canvas {
  float: right
}  */
